.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  border-radius: 1rem;
  border: solid 2px #B9B9B9;
  padding: 0.5rem;
  margin: 1rem;
  align-items: center;
}

.title {
  text-decoration: underline;
}

@keyframes slideout {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(200px);
  }
}